.svn

/.emacs.d/.emacs.d/ede-projects.el
/.emacs.d/.emacs.d/history
/.emacs.d/.emacs.d/projectile-bookmarks.eld
/.emacs.d/.emacs.d/projectile.cache
/.emacs.d/.gnupg/gpg.conf
/.emacs.d/.gnupg/pubring.gpg
/.emacs.d/.gnupg/secring.gpg
/.emacs.d/basic.ics
/.emacs.d/bookmarks
/.emacs.d/diary
*.elc
/.emacs.d/profile/profile-alstom-transport-private.el
/.emacs.d/profile/profile-magneti-marelli-private.el
/.emacs.d/profile/profile-sagem-defense-private.el
/.emacs.d/profile/profile-thales-avionics-local-private.el
/.emacs.d/profile/profile-thales-avionics-server-private.el
/.emacs.d/.history
/.emacs.d/ede-projects.el
/.emacs.d/history
/.emacs.d/plugins/ada-mode
/.emacs.d/plugins/ada-mode_5.3.1
/.emacs.d/plugins/ada-mode_pro
/.emacs.d/plugins/autoload-*
/.emacs.d/plugins/avy-master-ref
