.svn
*.elc

/.emacs.d/.emacs.d/*
/.emacs.d/.gnupg/*
/.emacs.d/basic.ics
/.emacs.d/bookmarks
/.emacs.d/diary
/.emacs.d/profile/*-private.el
/.emacs.d/.history
/.emacs.d/ede-projects.el
/.emacs.d/history
/.emacs.d/plugins/ada-mode/*
/.emacs.d/plugins/autoload-*
/.emacs.d/plugins/yasnippet/*
/.emacs.d/plugins/cflow-mingw-master/*
/.emacs.d/plugins/doxymacs-1.8.0/*
/.emacs.d/plugins/hydra-master/*
/.emacs.d/plugins/gnu_global_662wb/*
/.emacs.d/plugins/helm-3.0/*
/.emacs.d/plugins/helm-master/*
/.emacs.d/plugins/muse-3.20/*
/.emacs.d/plugins/names-master/*
/.emacs.d/plugins/elpa/*.txt
/.emacs.d/plugins/ripgrep-x86_64/*
/.emacs.d/plugins/universal-ctags-x64_2018-08-22/*
/.emacs.d/wiki/*
/.emacs.d/plugins/pt_windows_amd64/*
/.emacs.d/plugins/smartparens-master/*
/.emacs.d/plugins/projectile-master/*
/.emacs.d/semanticdb/
/.emacs.d/server/
/.emacs.d/plugins/markdown-mode-2.2/*
/.emacs.d/plugins/realgud/*
__pycache__


# temporary
/.emacs.d/elpa/*
